<main tabindex="0" (keydown.m)="toggleStreamLayer()">
  <div class="player-container">
    <app-menu-layer
      [username]="userName()"
      [initial]="userInitial()"
      (channelChangeRequested)="onChannelChange($event)"
    ></app-menu-layer>
    <app-stream-layer
      [class.stream-layer-hidden]="!streamLayerVisible()"
      [isPlaying]="isPlaying()"
      [isMuted]="isMuted()"
      [volume]="volume()"
      [programs]="programs()"
      (togglePlayPause)="onTogglePlayPause()"
      (toggleMuteUnmute)="onToggleMute()"
      (volumeChange)="onVolumeChange($event)"
    ></app-stream-layer>
    <app-stream-player
      #streamPlayer
      [streamUrl]="streamUrl()"
      [streamName]="'Channel 5'"
      [muted]="false"
      [controls]="false"
      (playerState)="onPlayerState($event)"
      (errorOccurred)="onPlayerError($event)"
    />
  </div>
</main>
